@page

<!--Previous Code now in SignalR_Chat.cshtml-->

<!--New Code Starts Here-->

@{
    ViewData["Title"] = "Welcome to Game Butler!";
}

<h1>@ViewData["Title"]</h1>

<p>Please Login to you Steam Account to the Right</p>